network:
  version: 2
  renderer: networkd
  ethernets:
{% for interface in interface_names.stdout_lines %}
    {{ interface }}:
      dhcp4: no
{% endfor %}
  bonds:
    bond0:
      macaddress: {{ default_mac }}
      dhcp4: yes
      dhcp-identifier: mac
      interfaces:
{% for interface in interface_names.stdout_lines %}
        - {{ interface }}
{% endfor %}
      parameters:
        mode: 802.3ad
        lacp-rate: fast
        mii-monitor-interval: 100
